@charset "UTF-8";
    table {
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            width: 1200px;
            margin-top: 50px;
            table-layout: fixed;
           
        }
        th,
        td {
            padding: 8px;
            
            border-bottom: 1px solid #ddd;
            
        }
        .col1 {
            width: 45px
        }
        
        .re_image{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
        }

        .re_writer{
            font-size: 14px;
            font-family: 'Gothic A1', sans-serif;
            font-weight: 600;
        }

        .re_content{
            font-size: 14px;
            font-family: 'Gothic A1', sans-serif;
        }

        .re_date{
            font-size: 12px;
            font-family: 'Gothic A1', sans-serif;
            color: #b4b4b4;
        }

        .block{
            text-align: right;
            display: inline;
            float: right;
        }

        .re_delete{
            text-decoration: none;
            color: #b4b4b4;
            font-size: 12px;
        }