@charset "UTF-8";
  .container {
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: 100px;
            height: auto;
            gap: 1rem;
        }

        /* 상단 부분 css */
        .head {
            grid-column: 1/3;
            grid-row: 1/2;
            background-color: #305346;
            position: sticky;
            top: 0;
            z-index: 1000;

        }

        .title {
            font-family: "Bangers", system-ui;
            font-style: normal;
            color: #cf3e00;
            font-size: 80px;
            text-decoration: none;
            margin-left: 100px;

        }

        /* 마이페이지 블럭 */
        .mypage {
            position: absolute;
            top: 8px;
            right: 300px;
            margin-top: 30px;
            height: 30px;
            width: 100px;
            border-width: 1px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mypage_text {
            color: #f4efe2;
            text-decoration: none;
            font-family: "Gothic A1", sans-serif;
            font-weight: 600;
            font-style: normal;

        }


        /* 로그아웃 블럭 */
        .logout {
            position: absolute;
            top: 8px;
            right: 150px;
            margin-top: 30px;
            height: 30px;
            width: 100px;
            border-width: 1px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logout_text {
            color: #f4efe2;
            text-decoration: none;
            font-family: "Gothic A1", sans-serif;
            font-weight: 600;
            font-style: normal;

        }


        /* 사이드 부분 css */
        .side {
            grid-column: 1/2;
            grid-row: 2/3;
            height: 800px;
            border-right-color: #b4b4b4;
            border-right-style: groove;
            border-right-width: 1px;
            border-left-color: #b4b4b4;
            border-left-style: groove;
            border-left-width: 1px;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            position: sticky;
            top: 0;
            right: 0;
        }

        /* sns 게시판 */
        .sns {
            margin-top: 200px;
            width: 180px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

        }

        .sns_text {
            color: black;
            text-decoration: none;
            font-family: "Gothic A1", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 22px;
        }

        /* 러닝메이트 게시판 */
        .mate {
            margin-top: 100px;
            width: 180px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }

        .mate_text {
            color: black;
            text-decoration: none;
            font-family: "Gothic A1", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 22px;
        }





        /* 메인콘텐츠 */
        .content {
            grid-column: 2/3;
            grid-row: 2/3;
            margin-right: 100px;
            height: auto;

        }

        .sns_title {
            height: 50px;
            width: auto;
            margin-top: 20px;
            margin-left: 50px;
            align-items: flex-end;
            display: flex;

        }

        .sns_writer {
            height: 40px;
            width: auto;
            margin-left: 50px;
            margin-top: 20px;
            display: flex;

        }

        .myimg {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        .date_read {
            height: 40px;
            margin-left: 100px;
            justify-content: space-between;
            display: flex;
        }


        .maincontent {
            margin-left: 50px;
            width: 1400px;
            height: 650px;
            display: flex;
        }

        .content1 {
            font-size: 28px;
            font-family: "Gothic A1", sans-serif;
            font-style: normal;
            color: #747474;
        }

        .content2 {
            font-size: 50px;
            font-weight: 700;
            font-family: "Bangers", system-ui;
            letter-spacing: 5px;
        }


        .recomend {
            border-style: outset;
            border-radius: 50%;
            height: 100px;
            width: 100px;
            display: inline-block;
            text-align: center;
            background: linear-gradient(to bottom, white 50%, #d92929 50%);
            background-size: 10% 200%;
            background-position: top;
            transition: background-position 0.5s;
            text-decoration: none;
            color: black;
            
            
            /* 부드러운 전환 효과 추가 */

        }

        .recomend:hover{
            background-position: bottom;
        }

        .run{
            font-family: "Bangers", system-ui;
            color: #ffc107;
            font-size: 24px;
            
        }
         .delete{
            
            text-decoration: none;
            color: #333333;
            font-size: 18px;
            font-family: 'Gothic A1', sans-serif;
        }